<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/app.js" defer></script>
    <title>Main Page</title>
</head>
<body>
{{>header}}
 <form>
   <input type="text" placeholder="Location">
   <button type="submit">Search</button>
 </form>
 <p class="result"></p>
  {{>footer}}
</body>
</html>